In [ ]:
sample55_df = df.drop(df.columns[3:],axis=1)
sample02_33_df = df.drop(df.columns[4:],axis=1)
sample33_df = df.drop(df.columns[5:],axis=1)
sample02_42_df = df.drop(df.columns[6:],axis=1)
sample28_df = df.drop(df.columns[7:],axis=1)
sample29_df = df.drop(df.columns[8:],axis=1)
sample71_df = df.drop(df.columns[9:],axis=1)
sample0212_df = df.drop(df.columns[10:],axis=1)
sample0218_df = df.drop(df.columns[11:],axis=1)
sample0226_df = df.drop(df.columns[12:],axis=1)
sample13_df = df.drop(df.columns[13:],axis=1)
sample45_df = df.drop(df.columns[14:],axis=1)
sample0236_df = df.drop(df.columns[15:],axis=1)
sample0255_df = df.drop(df.columns[16:],axis=1)
sample0220_df = df.drop(df.columns[17:],axis=1)
sample0229_df = df.drop(df.columns[18:],axis=1)
sample0240_df = df.drop(df.columns[19:],axis=1)
sample62_df = df.drop(df.columns[20:],axis=1)
sample0210_df = df.drop(df.columns[21:],axis=1)
samplex029c_df = df.drop(df.columns[22:],axis=1)
samplev515_df = df.drop(df.columns[23:],axis=1)
samplehcc1806_df = df.drop(df.columns[24:],axis=1)

In [71]:
import pandas as pd
import numpy as np

my_test = "results_rpkm/AllTestSamples.csv" #file with all 23 test samples
df = pd.read_csv(my_test)

#setting each clinical sample as its own index, for inserting into random sample set files

index_df = df.drop(df.columns[1:], axis=1) 
sample1_df = df['Sample1']
#sample1_df = df.drop(df.columns[2:],axis=1)
sample55_df = df['Sample55']
sample02_33_df = df['sample02_33']
sample33_df = df['Sample33']
sample02_42_df = df['sample02_42']
sample28_df = df['Sample28']
sample29_df = df['Sample29']
sample71_df = df['Sample71']
sample0212_df = df['sample02_12']
sample0218_df = df['sample02_18']
sample0226_df = df['sample02_26']
sample13_df = df['Sample13']
sample45_df = df['Sample45']
sample0236_df = df['sample02_36']
sample0255_df = df['sample02_55']
sample0220_df = df['sample02_20']
sample0229_df = df['sample02_29']
sample0240_df = df['sample02_40']
sample62_df = df['Sample62']
sample0210_df = df['sample02_10']
samplex029c_df = df['X029.C']
samplev515_df = df['V515-06402-B4']
samplehcc1806_df = df['hcc1806_S14Aligned_cufflinks']

#index_df.head()
#sample1_df.head()

  gene_short_name
0           ABCA8
1          ADRA2A
2          AKAP12
3         ALDH3B2
4            APOD

In [74]:
#read in all files in directory
import glob
import os
#path = "results_rpkm/"
#all_files = glob.glob("*.csv") #issue here: is this opening all csv files?
#all_files = glob.glob(os.path.join(path, "*.csv")) #make list of paths

countif = 0

#for file in all_files:
for file in glob.glob('*.csv'):
    countif = str(file)
    outfilename = "refsets_sample1_" + countif #+ ".csv"
    dfn = pd.read_csv(file)
    #gene_name = dfn.drop(dfn.columns[1:], axis =1)
    #file_index = dfn.drop(dfn.columns[2:], axis =1)
    sample_dfn = dfn.drop(dfn.columns[0:2], axis=1)
   
    
    res_df = pd.concat([index_df, sample1_df, sample_dfn], axis=1)
    res_df.to_csv(outfilename, index=False)
   
    
res_df.head()

,gene_short_name,Sample1,TNT-98,17-00100-2_S17Aligned_cufflinks,17-00165-0_S10Aligned_cufflinks,17-00140-2_S2_cufflinks,TNT-27,TNT-299,TNT-296,TNT-141,TNT-186,17-00125-8_S13Aligned_cufflinks
0,ABCA8,2.27,46.11610,2.669090,16.984400,4.180900,1.91007,8.879170,12.07170,68.44350,7.371540,55.51940
1,ADRA2A,0.29,0.44963,0.798061,0.861454,0.974128,0.00000,0.321954,0.51861,1.30754,0.864678,4.31788
2,AKAP12,3.71,5.98117,2.765030,6.211130,1.052790,4.47033,8.316900,3.85550,7.14621,15.239800,25.36400
3,ALDH3B2,31.87,8.66927,8.750100,1.164470,25.780500,0.00000,2.224730,2.50943,2.52334,4.606290,14.42160
4,APOD,17.36,165.22800,62.333700,126.973000,4.293170,12.37540,26.348300,16.32230,265.92900,97.384500,136.70500